{:format :v3,
 :transitions
 [{:name :transition/inquire,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :to :state/inquiry}
  

  {:name :transition/complete,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P2D"]}]},
   :actions [],
   :from :state/inquiry,
   :to :state/delivered}
  {:name :transition/operator-complete,
   :actor :actor.role/operator,
   :actions [],
   :from :state/delivered,
   :to :state/delivered}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/booking-end]} {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/delivered,
   :to :state/reviewed}
  
 ],
 :notifications
 [
  ]}
